@font-face {
  font-family: 'font';
  src: url('/font/Font-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'font';
  src: url('/font/Font-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.Highlights {
    
}

body {
    background: #000435;
    color: #e0e0e0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    max-width: 800px;
  	margin: 15px;
    font-family: font;
    font-weight: normal;
    line-height: 1.2rem;
    word-wrap: break-word;
}

main {
}

img {
	max-width: 100%;
}

strong, b {
  font-weight: bold;
}

.bottom-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
	color: #FFF;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
}

.bottom-footer img {
	margin: 0 5px;
	max-height: 30px;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.bottom-footer img:hover {
	opacity: 1;
}

h1 {
    color: #2289DD;
    text-decoration: underline #f5f5dc;
    text-align: center;
}

h2 {
    color: #2289DD;
}

h3 {
    color: #2289DD;
}

a {
    color: #f5f5dc;
}

a:hover {
    color: #ffffff;
    opacity: 0.8;
}

summary {
    color: #008800;
    background: #101210;
}

details {
    background: #222;
}

summary:hover {
  color: #fff;
  cursor: pointer;
}

.service {
  padding: 0.5rem;
  border: solid thin #f5f5dc;
}
